@import url('~/less/index');

body {
  margin: 0;
  padding: 10px;
}

.lilac {
  background: @lilac;
}

.blue {
  background: @blue;
}

.orange {
  background: @orange;
}

.yellow {
  background: @yellow;
}

.pink {
  background: @pink;
}

.chooser {
  .fixed(50%, auto, auto, 20px);
  margin-left: -75px;
  background: white;
  padding: 2px;

  div {
    display: block;
    float: left;
    margin: 3px;
    .size(22px);
  }
}