@import url('~/less/index');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.holder {
  height: 100%;
  & > div {
    background-image: url('http://www.wallcoo.net/animal/home_pussy_1600x1200/images/[wallcoo_com]_pussy_cat_wallpaper_02_wEA39114.jpg');
    background-size: 200px 150px;
    background-repeat: no-repeat;
  }
}

.scroller {
  white-space: nowrap;
  & > div {
    display: inline-block;
    border:2px solid red;
  }
}

.lilac {
  background: @lilac;
}

.blue {
  background: @blue;
}

.orange {
  background: @orange;
}

.yellow {
  background: @yellow;
}

.pink {
  background: @pink;
}

.red {
  background: @red;
}

.chooser {
  .fixed(50%, auto, auto, 20px);
  margin-left: -150px;
  background: white;
  padding: 2px;

  div {
    display: block;
    float: left;
    margin: 3px;
    .size(50px);
  }
}

.arrow {
  top:0;
  position: fixed;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}