// box-sizing mixin
// example: .sizing(content-box)
.sizing (@property: border-box) {
  -webkit-box-sizing: @property;
     -moz-box-sizing: @property;
      -ms-box-sizing: @property;
          box-sizing: @property;
}

// size of box
// example: .size(200px, 100px, block)
.size(@width, @height: @width, @display: inline-block) {
  width: @width;
  height: @height;
  display: @display;
}