.page {
  .margin-h(auto);
  max-width: @container-big;
  .sizing;

  @media all @above-layout-breakpoint {
    margin: 4rem;
  }

  @media all @under-layout-breakpoint {
    margin: 1.5rem;

    .carousel {
      margin-top: -1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  }

  > .type-title {
    color: @primary;
    font-size: @h2;
  }

  > hr {
    margin: 1rem 0 2rem;
  }
}