html {
  &.windows {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  &.prevent-overflow {
    overflow: hidden;
  }

  & when (@header-fixed = true) {
    padding-top: @header-height;
  }
}