/**
 * Form config
 */
// input
@input-radius: 4px;

@input-small-height: 1.8rem;
@input-small-padding: .5rem;
@input-small-radius: 4px;

@input-big-padding: 1rem;
@input-big-radius: 4px;

@input-large-size: @h6;
@input-large-height: 4.4rem;
@input-large-radius: 4px;

// buttons
@button-font-weight: @font-semibold;