/**
 * Animations
 * ----------------------------------------------
 */

@animatecss: false;

// if '@animatecss' is true
@animatecss-bounce: false;
@animatecss-fade: false;
@animatecss-flip: false;
@animatecss-light-speed: false;
@animatecss-roll: false;
@animatecss-rotate: false;
@animatecss-slide: false;
@animatecss-zoom: false;

@animation-duration: 1s;
@animation-in-duration: 1s;
@animation-out-duration: .6s;