/**
 * Progress Bar settings
 * ----------------------------------------------
 * Progress Bar settings, sizes and other variables.
 */

@carrousel-scheme: @secondary-scheme-inverse;
@carrousel-radius: @modal-radius;
@carrousel-height: .8rem;

@carrousel-background: rgba(0, 0, 0, 0.2);

@carrousel-min-width: 20rem;
@carrousel-max-width: 32rem;

@carousel-primary: @pink;
@carousel-secondary: @green;
@carousel-tertiary: @blue;
@carousel-quaternary: @yellow;
@carousel-quinary: @orange;