/**
 * Container
 * ----------------------------------------------
 */

// container setting
@container-large:     @screen-large;
@container-big:       @screen-big;
@container-medium:    @screen-medium;
@container-small:     @screen-small;
@container-tiny:      @screen-tiny;
@container-tablet:    @screen-tablet;
@container-mobile:    @screen-mobile;

// container width range
@container-min-width: 32rem;
@container-max-width: @screen-medium;
