/**
 * Forms
 * ----------------------------------------------
 */

// input styling
@input-font-weight: @font-light;

// button styling
@button-font-weight: @font-regular;

// default placeholder color for form elements
@placeholder: @blackgray;
@placeholder-fading: 60%;

// animations and transitions
@input-transition-duration: .1s;

// default
@input-height: 2.4rem;
@input-padding: 1rem;
@input-size: @body-font-size;
@input-radius: 15px;

// small
@input-small-height: 1.6rem;
@input-small-padding: 1rem;
@input-small-size: @h8;
@input-small-radius: 10px;

// big
@input-big-height: 3.4rem;
@input-big-padding: 2rem;
@input-big-size: @h6;
@input-big-radius: 20px;

// large
@input-large-height: 4rem;
@input-large-padding: 2rem;
@input-large-size: @h5;
@input-large-radius: 30px;

// switcher
@default-toggle-color: @green;