/**
 * Griding
 * ----------------------------------------------
 */

// switching on/off of grid include
@grid: false;

// if '@grid' is true
@grid-children:         0;

// responsive gridding
// if '@responsive' is true
@grid-big-children:     0;
@grid-medium-children:  0;
@grid-small-children:   0;
@grid-tiny-children:    0;
@grid-tablet-children:  0;
@grid-mobile-children:  0;