/**
 * Icon settings
 * ----------------------------------------------
 * From here you can set default path for icons,
 * default color, font name and etc.
 */

@icon-path: 'assets/icons';

// including settings
@icon-local: false;
@icon-external-link: ''; // if local is false

// naming settings
@icon-prefix: ui-icon;
@icon-family: 'vigour-icons';

// default styles
@icon-size: @body-font-size;