/**
 * Modal settings
 * ----------------------------------------------
 * Modal settings, sizes and other variables.
 */

// topbar
@topbar-text-align: center;
@topbar-font-size: @h5;
@topbar-font-weight: @font-semibold;
@topbar-padding: 1.2rem;

@topbar-light-fading: 20%;
@topbar-dark-fading: 20%;

// modal
@modal-padding: 1.5rem;
@modal-radius: 4px;
@modal-scheme: @secondary-scheme-inverse;

@modal-min-width: 32rem;
@modal-max-width: 40rem;

@modal-min-height: 60rem;
@modal-max-height: 60rem;

@modal-text-align: left;

@modal-button-scheme: @primary-scheme;

// play animation
@modal-animation-duration: .3s;