/**
 * Navbar settings
 * ----------------------------------------------
 * Navbar settings, sizes and other variables.
 */

// navbar
@navbar-text-align: center;
@navbar-font-size: @h5;
@navbar-font-weight: @font-semibold;
@navbar-padding: @gutter-small;

@navbar-icon-size: @h2;

@navbar-light-fading: 20%;
@navbar-dark-fading: 20%;

// navbar
@navbar-height: 44px;

@above-navbar-breakpoint: @above-layout-breakpoint;
@navbar-breakpoint: @layout-breakpoint;
@under-navbar-breakpoint: @under-layout-breakpoint;