/**
 * Progress Bar settings
 * ----------------------------------------------
 * Progress Bar settings, sizes and other variables.
 */

@pills-scheme: @primary-scheme-inverse;
@pills-radius: 4px;
@pills-height: .8rem;

@pills-background: rgba(0, 0, 0, 0.2);

@pills-min-width: 20rem;
@pills-max-width: 32rem;