/**
 * Sidebar congfig
 * ----------------------------------------------
 */
@play-sidebar-width: 20rem;
@play-sidebar-small-width: 30rem;

// responsive
@above-sidebar-breakpoint: @above-tablet;
@sidebar-breakpoint: @tablet;
@under-sidebar-breakpoint: @under-tablet;