body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Graph-paper.svg/255px-Graph-paper.svg.png') top left repeat;
}

.switcher {
  width: 400px;
  height: 450px;
  overflow: hidden;
  position: absolute;
}

.switcher2 {
  width: 400px;
  height: 450px;
  overflow: hidden;
  position: absolute;
}
.container {
  width: 400px;
  height: 450px;
  background: red;
  position: absolute;
}

.container2 {
  width: 400px;
  height: 450px;
  position: absolute;
  background: green;
}

.show{
  transition: opacity 1000ms;
}
.hide {
  opacity: 0;
}

.selected{
  background: green;
}
