/* /Users/youzi/dev/vui/examples/events/style.less */
div {
  color: green;
  font-size: 24px;
  font-family: helvetica;
  border: 1px solid red;
  margin: 10px;
}
.grey-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.blue-bg {
  background-color: blue;
}
.red-txt {
  color: red !important;
}
/* /Users/youzi/dev/gaston/lib/browser/styles.less */
.gaston-ui {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99999999999999999999999999999999;
  background: red;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
}
.gaston-ui .logo {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.gaston-ui .content {
  display: none;
}
.gaston-ui.open {
  border-radius: 0%;
  width: 100vw;
  height: 100vh;
  right: inherit;
  bottom: inherit;
  background: #000;
}
.gaston-ui.open .content {
  display: block;
}
.gaston-ui.open .logo {
  display: none;
}
