@import url('../../less/index.less');

.perf {
  color:white;
}

body {
  box-sizing: border-box;
  margin: 0;
  // background-color: #000;
  // padding: 10px;
}

.info {
  border-radius:50%;
  // color:white;
  // padding:20px;
  font-size:12px;
  display:inline-block;
  height: 50px;
  width:50px;
  margin:2px;
  text-align: center;
  background-color: #cceeff;
}


div {
  background-color: rgba(0,0,0,0.2);
  padding:10px;
  margin: 5px;
}
