@import url('~/less/include.less');

div {
  .translate(50%, 50%);

  width: 200px;
  height: 200px;

  cursor: all-scroll;
  .radius(3px);
  background: #eee;

	span {
		position: absolute;
		left: 50%;
		top: 50%;
    .translate(-50%, -50%);

    width: 40%;
    pointer-events: none;

		font-style: italic;
		font-size: 18px;
		color: #ccc;
		text-shadow: 1px 0 0 #fff;
	}
}