/**
 * Background colors
 * ----------------------------------------------
 * definind  background color priorities as a class
 * to use them in direct markup
 */

 // primary
.ui-background-primary {
  &:not(.ui-inverse) {
    background-color: @primary;

    &.ui-interactive:hover {
      background-color: @primary-hover;
    }
  }

  &.ui-inverse {
    background-color: @primary-contrast;

    &.ui-interactive:hover {
      background-color: @primary-contrast-hover;
    }
  }
}

// secondary
.ui-background-secondary {
  &:not(.ui-inverse) {
    background-color: @secondary;

    &.ui-interactive:hover {
      background-color: @secondary-hover;
    }
  }

  &.ui-inverse {
    background-color: @secondary-contrast;

    &.ui-interactive:hover {
      background-color: @secondary-contrast-hover;
    }
  }
}

// secondary
.ui-background-secondary {
  &:not(.ui-inverse) {
    background-color: @secondary;

    &.ui-interactive:hover {
      background-color: @secondary-hover;
    }
  }

  &.ui-inverse {
    background-color: @secondary-contrast;

    &.ui-interactive:hover {
      background-color: @secondary-contrast-hover;
    }
  }
}

// tertiary
.ui-background-tertiary {
  &:not(.ui-inverse) {
    background-color: @tertiary;

    &.ui-interactive:hover {
      background-color: @tertiary-hover;
    }
  }

  &.ui-inverse {
    background-color: @tertiary-contrast;

    &.ui-interactive:hover {
      background-color: @tertiary-contrast-hover;
    }
  }
}

// quaternary
.ui-background-quaternary {
  &:not(.ui-inverse) {
    background-color: @quaternary;

    &.ui-interactive:hover {
      background-color: @quaternary-hover;
    }
  }

  &.ui-inverse {
    background-color: @quaternary-contrast;

    &.ui-interactive:hover {
      background-color: @quaternary-contrast-hover;
    }
  }
}

// quinary
.ui-background-quinary {
  &:not(.ui-inverse) {
    background-color: @quinary;

    &.ui-interactive:hover {
      background-color: @quinary-hover;
    }
  }

  &.ui-inverse {
    background-color: @quinary-contrast;

    &.ui-interactive:hover {
      background-color: @quinary-contrast-hover;
    }
  }
}

// graydark
.ui-background-graydark {
  &:not(.ui-inverse) {
    background-color: @graydark;

    &.ui-interactive:hover {
      background-color: @graydark-hover;
    }
  }

  &.ui-inverse {
    background-color: @graydark-contrast;

    &.ui-interactive:hover {
      background-color: @graydark-contrast-hover;
    }
  }
}

// graylight
.ui-background-graylight {
  &:not(.ui-inverse) {
    background-color: @graylight;

    &.ui-interactive:hover {
      background-color: @graylight-hover;
    }
  }

  &.ui-inverse {
    background-color: @graylight-contrast;

    &.ui-interactive:hover {
      background-color: @graylight-contrast-hover;
    }
  }
}

// blackwhite
.ui-background-blackwhite {
  &:not(.ui-inverse) {
    background-color: @blackwhite;

    &.ui-interactive:hover {
      background-color: @blackwhite-hover;
    }
  }

  &.ui-inverse {
    background-color: @blackwhite-contrast;

    &.ui-interactive:hover {
      background-color: @blackwhite-contrast-hover;
    }
  }
}