/**
 * Text colors
 * ----------------------------------------------
 * definind color priorities as a class to use them
 * in direct markup
 */

 // primary
.ui-color-primary {
  &:not(.ui-inverse) {
    color: @primary;

    &.ui-interactive:hover {
      color: @primary-hover;
    }
  }

  &.ui-inverse {
    color: @primary-contrast;

    &.ui-interactive:hover {
      color: @primary-contrast-hover;
    }
  }
}

// secondary
.ui-color-secondary {
  &:not(.ui-inverse) {
    color: @secondary;

    &.ui-interactive:hover {
      color: @secondary-hover;
    }
  }

  &.ui-inverse {
    color: @secondary-contrast;

    &.ui-interactive:hover {
      color: @secondary-contrast-hover;
    }
  }
}

// tertiary
.ui-color-tertiary {
  &:not(.ui-inverse) {
    color: @tertiary;

    &.ui-interactive:hover {
      color: @tertiary-hover;
    }
  }

  &.ui-inverse {
    color: @tertiary-contrast;

    &.ui-interactive:hover {
      color: @tertiary-contrast-hover;
    }
  }
}

// quaternary
.ui-color-quaternary {
  &:not(.ui-inverse) {
    color: @quaternary;

    &.ui-interactive:hover {
      color: @quaternary-hover;
    }
  }

  &.ui-inverse {
    color: @quaternary-contrast;

    &.ui-interactive:hover {
      color: @quaternary-contrast-hover;
    }
  }
}

// quinary
.ui-color-quinary {
  &:not(.ui-inverse) {
    color: @quinary;

    &.ui-interactive:hover {
      color: @quinary-hover;
    }
  }

  &.ui-inverse {
    color: @quinary-contrast;

    &.ui-interactive:hover {
      color: @quinary-contrast-hover;
    }
  }
}

// graydark
.ui-color-graydark {
  &:not(.ui-inverse) {
    color: @graydark;

    &.ui-interactive:hover {
      color: @graydark-hover;
    }
  }

  &.ui-inverse {
    color: @graydark-contrast;

    &.ui-interactive:hover {
      color: @graydark-contrast-hover;
    }
  }
}

// graylight
.ui-color-graylight {
  &:not(.ui-inverse) {
    color: @graylight;

    &.ui-interactive:hover {
      color: @graylight-hover;
    }
  }

  &.ui-inverse {
    color: @graylight-contrast;

    &.ui-interactive:hover {
      color: @graylight-contrast-hover;
    }
  }
}

// blackwhite
.ui-color-blackwhite {
  &:not(.ui-inverse) {
    color: @blackwhite;

    &.ui-interactive:hover {
      color: @blackwhite-hover;
    }
  }

  &.ui-inverse {
    color: @blackwhite-contrast;

    &.ui-interactive:hover {
      color: @blackwhite-contrast-hover;
    }
  }
}