/**
 * Transparent colors
 * ----------------------------------------------
 * transparent colors by 50%
 */

// dark
.ui-color-transparent-black {
  color: rgba(0, 0, 0, 0.5);

  &.ui-interactive {
    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }

    &:focus,
    &:active {
      color: rgba(0, 0, 0, 0.9);
    }
  }
}

// light
.ui-color-transparent-white {
  color: rgba(255, 255, 255, 0.5);

  &.ui-interactive {
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }

    &:focus,
    &:active {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}


/**
 * Transparent backgrounds
 * ----------------------------------------------
 * transparent backgrounds by 50%
 */

// dark
.ui-background-transparent-black {
  background-color: rgba(0, 0, 0, 0.5) !important;

  &.ui-interactive {
    &:hover {
      background-color: rgba(0, 0, 0, 0.7) !important;
    }

    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, 0.9) !important;
    }
  }
}

// light
.ui-background-transparent-white {
  background-color: rgba(255, 255, 255, 0.3) !important;

  &.ui-interactive {
    &:hover {
      background-color: rgba(255, 255, 255, 0.4) !important;
    }

    &:focus,
    &:active {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
  }
}