@import '../scratch/scratch.less';

@animatecss: true;
@font-local: false;

@import '../../../../lib/player/style.less';

@import '../components/hr/style.less';
@import '../components/button/style.less';
@import '../components/icon/style.less';
@import '../components/img/style.less';
@import '../components/text/style.less';
@import '../components/progress/style.less';

// play
@import '../components/logo/style.less';

// carousel
@import '../components/carousel/style.less';
@import '../components/sidebar/style.less';

// pages
@import '../components/pages/style.less';
@import '../components/pages/discover/style.less';

// items
@import '../components/item/style.less';
@import '../components/item/flex/style.less';
@import '../components/item/row/style.less';

// lists
@import '../components/list/style.less';
@import '../components/list/grid/style.less';
@import '../components/list/list-horizontal/style.less';

// icons
@icon-family: 'ADM-Icons';
@import url('https://i.icomoon.io/public/1760d3d9bc/ADM-VD/style.css');

@import '../adm/style.less';

body > .app {
  height: 100vh;
  .flex-display;
  .align-items(top);

  > .main {
    .flex(1);
  }
}