// item
@item-width: 220px;
.type-item {
  .user-select;
  width: 100%;
  cursor: pointer;
  display: block;
  .width-range(@item-width);
  .radius(@modal-radius);

  > .type-thumb {
    overflow: hidden;

    > img {
      .radius(@thumb-radius);
      width: 100%;
      .transition(.5s ease transform);
    }
  }

  @media all @above-layout-breakpoint {
    &:hover {
      > .type-thumb {
        img {
          .scale(1.05);
        }
      }

      > .type-info {
        > .title {
          color: @primary;
        }
      }
    }
  }
}

// video item
.type-item-video {
  .type-thumb {
    position: relative;

    progress {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

// channel item
.type-item-channel {
  > .type-thumb {
    margin-bottom: @gutter-small;
  }

  > .info {
    .flex-display;
    .align-items(center);
    padding: 0 0 @gutter-small;

    > progress {
      margin-left: @gutter-small;
      .flex(1);
    }
  }
}

// row item
@item-row-padding: @gutter-small;
@item-row-thumb-width: 130px;
// ADM
@item-row-padding: 0 @gutter-small 0 0;
.type-item-row {
  .flex-display;
  .align-items(center);
  .radius(@modal-radius);
  overflow: hidden;
  background-color: fade(black, 20%);
  padding: @item-row-padding;

  .type-thumb {
    width: @item-row-thumb-width;
  }

  .type-info {
    .flex(1);
    padding: @gutter-small;
  }
}

// poster item
@item-poster-width: 107px;
.type-item-poster {
  .width-range(@item-poster-width)
}

// flex item
.type-item-flex {
  @media all @above-layout-breakpoint {
    .type-item;

    .arrow {
      display: none;
    }
  }

  @media all @under-layout-breakpoint @above-sidebar-breakpoint {
    .type-item;

    .description,
    .arrow {
      display: none;
    }
  }

  @media all @under-sidebar-breakpoint {
    .type-item-row;

    .description {
      display: none;
    }
  }
}