& when (@icon-local = true) {
  @font-face {
    font-family: @icon-family;
    src:url('@{icon-path}/@{icon-family}.eot');
    src:url('@{icon-path}/@{icon-family}.eot#iefix') format('embedded-opentype'),
      url('@{icon-path}/@{icon-family}.woff2') format('woff2'),
      url('@{icon-path}/@{icon-family}.ttf') format('truetype'),
      url('@{icon-path}/@{icon-family}.woff') format('woff'),
      url('@{icon-path}/@{icon-family}.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

& when (@icon-local = false) {
  // @import url(@icon-external-link);
}

.@{icon-prefix} {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-family: @icon-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  .user-select;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.@{icon-prefix} {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}