html {
  box-sizing: border-box;
  border:10px solid blue;
  height:100%;
}

body {
  height:100%;
}

.container {
  font-family: helvetica;
  font-family: 20px;
  border:10px solid green;
  height: calc(100% - 90px);
}