@logo-size: @h0;
@logo-padding: 2rem 0;

.logo {
  position: relative;
  padding: @logo-padding;
  text-align: center;
  cursor: pointer;

  > .type-icon {
    line-height: 1;
    font-size: @logo-size;
    .transition(@transition transform);
  }
}