body, html {
  overflow: hidden;
  width:100%;
  // margin:20px;
}

.carousel {
  position: relative;
  // margin-left: 300px;
  border-top:10px solid green;
  width: 100%;
  height: 300px;
  .items {
    height: 100%;
    width: 100%;
    position: absolute;
    // border-top:10px solid blue;
    > div {
      font-size: 64px;
      text-align: center;
      // transition: font-size 0.3s;
      min-width:100%;
      max-width:100%;
    }
  }
}

// .previous {
//   font-size: 24px;
//   // border-top: 4px solid purple;
// }

// .focused {
//   font-size: 64px;
//   // border-top: 4px solid red;
// }

// .next {
//   font-size: 24px;
//   // border-top: 4px solid green;
// }
// * {
//     position: absolute;
//     -webkit-transition: -webkit-transform 3s;
//     transition: transform 3s;
//   }