// sidebar sizes
@sidebar-width: 20rem;
@sidebar-small-width: 30rem;
@sidebar-scheme: @primary-scheme-inverse;

// responsive
@above-sidebar-breakpoint: @above-tablet;
@sidebar-breakpoint: @tablet;
@under-sidebar-breakpoint: @under-tablet;

// shadow for mobile
@sidebar-bgshadow-background: @secondary;
@sidebar-bgshadow-gradient:
  darken(@sidebar-bgshadow-background, 10%) 70%,
  fade(@sidebar-bgshadow-background, 10%) 0%,
  right,
  ellipse;

@sidebar-meta-background: fade(black, 10%);

.sidebar {
  .scheme(@sidebar-scheme);
  z-index: 0;
  position: relative;

  .backLink {
    .radius(0);
    text-transform: lowercase;
    text-decoration: none;

    .icon {
      margin-left: -@gutter-big;
      margin-right: @gutter;
    }
  }

  @media all @above-sidebar-breakpoint {
    width: @sidebar-width;

    .bgshadow {
      display: none;
    }
  }

  @media all @under-sidebar-breakpoint {
    width: @sidebar-small-width;

    &.ui-inverse {
      background: @secondary;
    }

    > div,
    > nav,
    > a {
      &:not(.bgshadow):not(.close)  {
        position: relative;
        z-index: 1;
      }
    }

    > .bgshadow {
      z-index: 0;
      overflow: hidden;

      > .image {
        .absolute(0, 0);
        max-width: none;
        max-height: none;
        height: 100%;
        z-index: 0;
        opacity: .4;
      }

      &,
      &:after {
        .absolute(0, 0);
        .fullsize;
      }

      &:after {
        content: '';
        // .gradient-o(
        //   extract(@sidebar-bgshadow-gradient, 1),
        //   extract(@sidebar-bgshadow-gradient, 2),
        //   extract(@sidebar-bgshadow-gradient, 3),
        //   extract(@sidebar-bgshadow-gradient, 4)
        // );
      }
    }

    .close {
      .absolute;
      .fullsize;
      left: @sidebar-small-width;
      z-index: 999;
    }
  }

  .flex-display;
  .flex-direction(column);

  > .menu {
    @media all @above-sidebar-breakpoint {
      padding-bottom: @gutter-large;
    }

    .flex-display;
    .flex-direction(column);

    .type-row {
      opacity: .6;
      padding: 0 @gutter;
      height: 5.4rem;
      text-decoration: none;
      .transition(@transition opacity);
      letter-spacing: .3px;
      text-transform: capitalize;

      .icon {
        font-size: @h3;
        width: 3rem;
        text-align: center;
        padding-right: .5rem;
      }

      &:hover {
        opacity: .8;
      }

      &:active {
        opacity: 1;
      }

      &.ui-active {
        opacity: 1;
      }
    }

    // TODO: that's no way we need it!
    @media all @under-sidebar-breakpoint {
      .settings {
        display: none;
      }
    }
  }

  > .meta {
    .flex(1);
    position: relative;

    @media all @above-sidebar-breakpoint {
      padding: @gutter;
      background: @sidebar-meta-background;
    }

    .flex-display;
    .flex-direction(column);

    > .links {
      text-transform: capitalize;

      @media all @above-sidebar-breakpoint {
        .flex(1);

        a {
          display: block;
          text-decoration: none;
          padding: .3rem 0;
        }
      }
    }
  }
}

body {
  &.loggedin {
    .sidebar {
      .user {
        .register,
        .login {
          display: none;
        }
      }
    }
  }

  &:not(.loggedin) {
    .sidebar {
      .user {
        .upgrade,
        .profile {
          display: none;
        }
      }
    }
  }

  &.upgraded {
    .sidebar {
      .user {
        .upgrade {
          display: none;
        }
        .subtitle.subtitle {
          color: @tertiary;
          opacity: 1;
        }
      }
    }
  }
}