body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Graph-paper.svg/255px-Graph-paper.svg.png') top left repeat;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  right: 0;
}

div {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: rgba(255, 0, 0, 0.2) 5px solid;
  background: rgba(255, 0, 0, 0.5);

  cursor: move;
  user-select: none;

  &.move {
    cursor: pointer;
    transition: .3s ease-out all;
  }

  &.toggle {
    border: rgba(210, 210, 0, 0.4) 5px solid;
    background: rgba(210, 210, 0, 0.5);
  }
}