@import url('../../less/index.less');

body {
  box-sizing: border-box;
  margin: 0;
  // padding: 10px;
}

.thing {
  // display:inline-block;
  width: 15px;
  height: 15px;
  margin:2px;
  text-align: center;
  background-color: #cceeff;
}
